<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5">Live Streaming</h3>
                <img src="{{ url_for('VideoStream') }}" width="100%">
            </div>
        </div>

        
        
            <button class="btn btn-success" onclick="SendPost('up')">вреред</button>
        
            <button class="btn btn-success" onclick="SendPost('down')">вниз</button>


            <button class="btn btn-success" onclick="SendPost('left')">влево</button>
            <button class="btn btn-success" onclick="SendPost('right')">вправо</button>





	    <div class = "bg-info w-25 h-25 p-3" >
	    
	    
	    
	    </div>
        
        
        



    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <script language="javascript" type="text/javascript" >
        


        function SendPost(word){

		console.log(word)
            data = {comand:word} 
            url = '/'
            $.ajax({
            type: "POST",
            url: url,
            data: data,    
            });
        }

    </script>


</body>
</html>
